@font-face {
  font-family: "Amaranth Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Amaranth Regular"), local("Amaranth-Regular"),
    url(../assets/fonts/Amaranth-Regular.woff) format("woff"),
    url(../assets/fonts/Amaranth-Regular.ttf) format("truetype");
}
