footer {
  color: white;
  background: $bg-hf-color;
  min-height: 150px;
  padding: 20px;
}
.social-nav {
  margin: 10px;
  list-style-type: none;
  padding: 10px;
}
.social-nav a:hover {
  color: aqua;
  background: #333;
  transition: all 0.25s;
}
.social-nav a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.social-link {
  display: block;
  padding: 5px;
}
