.slider {
  //position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.slider-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 200%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  pointer-events: none;
  transition: 0s ease-in;
}
.slide-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: white;
  text-align: center;
}
.slide-img:hover {
  transform: translateY(-5px);
  -webkit-box-shadow: 0 8px 6px -6px #888;
  -moz-box-shadow: 0 8px 6px -6px #888;
  box-shadow: 0 8px 6px -6px #888;
}

@media all and (min-width: 486px) {
  .slider {
    position: absolute;
    width: 750px;
    height: 350px;
    overflow: hidden;
  }
}
