$primary-color-gray: #515151 !default;
$bg-color: #edf3f8 !default;
$secondary-color-blue: #011936 !default;
$bg-hf-color: #282d32 !default;
$bg-active-color: #392f5a !default;

$color-green: #2ecc40 !default;
$color-orange: #ff851b !default;
$color-red: #ff4136 !default;

$font-family-body: Amaranth Regular;

$font-size-body: 16px;
$font-size-title: 23px;
$font-size-subtitle: 13px;

$font-weight-body: 700;
$font-weight-title: 700;
$font-weight-subtitle: 400;
